1. Import the Belize_Airbnb_listings.csv

2. Create a new dataframe that takes the original dataset and groups the data by neighborhood and finds the average price, total number of reviews, and max availability_365.

In [1]:
import pandas as pd
import numpy as np

# Modules for statistics
import math
import statistics
from scipy import stats

In [52]:
#1
belize_listings_path = "belize_airbnb_listings.csv"

belize_df = pd.read_csv(belize_listings_path)

#2

grouped_df = belize_df.groupby('neighbourhood_group')

price_df = grouped_df["price"].mean()

reviews_df = grouped_df["reviews_per_month"].sum()

availability_df = grouped_df["availability_365"].max()

merge_df = pd.merge(price_df, reviews_df, on="neighbourhood_group")

surge_df = pd.merge(merge_df, availability_df, on="neighbourhood_group")
surge_df

                          price  reviews_per_month  availability_365
neighbourhood_group
Belize               380.302414             634.56               365
Cayo                 205.847525             181.05               365
Corozal              156.553846              11.42               365
Orange Walk          122.035714              10.02               365
Stann Creek          471.119584             130.74               365
Toledo               222.978723               6.15               365