In [5]:
import pandas as pd
import numpy as np

# 1

# Data
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

# Code
neglist = sorted(original_list, key=lambda x: -1/x)

print(neglist)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [6]:
#2 Part a

jeopardy_df = pd.read_csv("JEOPARDY_DATA.csv")

jeopardy_df = pd.get_dummies(jeopardy_df, columns=[' Round'])

jeopardy_df.head()

,Show Number,Air Date,Category,Value,Question,Answer,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,4680,12/31/2004,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False

In [7]:
# 2 part b
jeopardy_df[' Value'] = jeopardy_df[' Value'].str.replace("$","")
jeopardy_df[' Value'] = jeopardy_df[' Value'].str.replace(",","")

jeopardy_df[' Value'].head()

0    200
1    200
2    200
3    200
4    200
Name:  Value, dtype: object

In [8]:
jeopardy_df[' Value'] = jeopardy_df[' Value'].astype(float)

# Extra Credit
It is inconvenient that you have the use a decimal type instead of a "first-class" money type, because without the built in support for handling currency, it requires extra effort using the decimal type to manage common financial tasks like rounding and formating currency.